
.yazi{
    text-align: center;
    margin: 30px auto;
    font-size: 3rem;
    width: 50%; 
}

/*********** ROTATE     ********/

.yazi1{
    background-color: green;
    transform: rotateX(180deg);
  
}

.yazi2{
    background-color: aqua;
    transform: rotateX(180deg);
}

.yazi3{
    background-color: tomato;
    transform: rotate(45deg);
}

/***************** SCALE**************/

.yazi4{
    background-color: blue;
}
.yazi4:hover{
    transform: scaleX(2) scaleY(1.5);
}

.yazi5{
    background-color: fuchsia;
}

.yazi5:active{
    /* transform: scale(1.1, 1.3); */
    transform: scale(98%);
}


/***************** TRANSLATE --- TRANSİTİON***********/

.translate{
    background-color: gold;
    font-weight: 800;
    font: 1.1rem;
    width: 100px;
    height: 50px;
    margin: 10px;
}

.x:hover{
    transform: translate(150px);
}

.y:active {
    transform:translateY(45px) ;

}

.xy:active{
    transform: translate(50px, 90px);
}


